.sidebar-tab.multiple-select:not(.sidebar-popout) {
    position: relative;
}

.sidebar-tab.multiple-select:after,
.sidebar-tab .compendium.multiple-select:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 2px solid var( --color-warm-2);
    border-radius: 4px;
    pointer-events: none;
    z-index: 10;
}

.system-dsa5 .sidebar-tab.multiple-select:after,
.system-dsa5 .sidebar-tab .compendium.multiple-select:after {
    height: calc(100% - 7px);
}

.sidebar-tab.multiple-select .directory-list .directory-item.document.selected,
.sidebar-tab.multiple-select .directory-list .directory-item .sound.selected,
.sidebar-tab.multiple-select .directory-list .directory-item.entry.selected,
.sidebar-tab .compendium.multiple-select .directory-list .directory-item.document.selected,
.sidebar-tab .compendium.multiple-select .directory-list .directory-item .sound.selected,
.sidebar-tab .compendium.multiple-select .directory-list .directory-item .entry.selected {
    background-color: var(--color-warm-1) !important;
}

.sidebar-tab.multiple-select .directory-list .directory-item.scene.selected,
.sidebar-tab.multiple-select .directory-list .directory-item.compendium.entry.selected,
.sidebar-tab .compendium.multiple-select .directory-list .directory-item.scene.selected,
.sidebar-tab .compendium.multiple-select .directory-list .directory-item.compendium.entry.selected {
    color: var(--color-warm-1);
}
.sidebar-tab.multiple-select .directory-list .directory-item.scene.selected:after,
.sidebar-tab.multiple-select .directory-list .directory-item.compendium.entry.selected:after,
.sidebar-tab .compendium.multiple-select .directory-list .directory-item.scene.selected:after,
.sidebar-tab .compendium.multiple-select .directory-list .directory-item.compendium.entry.selected:after {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 100, 0, 0.2);
    pointer-events: none;
}
